{%extends "engine/index.html"%}

{%load static%}

{%block content%}
<header>
    <section id="hero">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-7 col-sm-12  text-white">
                    <h1>Aspirantura</h1>


                    <!-- <form
                    action="https://en.wikipedia.org/wiki/Institute_of_Telecommunications_and_Informatics_of_Turkmenistan">
                    <button type="submit" class="btn btn-light px-5 py-2 primary-btn">
                        Wikipedia
                    </button>
                </form> -->
                </div>
            </div>
        </div>
    </section>
</header>
<main>
    <br />
    <br />
    <div class="container">
        <h3>Türkmenistanyň Telekommunikasiýalar we informatika institutynyň Aspirantura bölüminde aşakdaky hünärler
            boýunça aspirantura kabul edilýär we kandidatlyk dissertasiýalaryny taýýarlamak üçin dalaşgärler hasaba
            alynýar:</h3>
        <ul>
            <li> 01.04.10 – Ýarymgeçirijileriň fizikasy hünäri boýunça;</li>
            <li> 05.12.13 – Telekommunikasiýa ulgamlary, torlary we gurnawlary hünäri boýunça;</li>
            <li>05.13.01 – Ulgamlaýyn seljerme, informasiýany dolandyrmak we işlemek (pudaklar boýunça) hünäri
                boýunça.</li>
        </ul>
        <div class="gap-20"></div>
        <p>“Türkmenistanda ylmy işgärleri taýýarlamak hakynda Düzgünnama” laýyklykda, aspirantura ýokary bilimli,
            azyndan 5 ýyl iş tejribesi bolan, saýlan ugry boýunça ylmy gözlegleri geçirmekde başarnygyny görkezen
            şahslar bäsleşik esasynda kabul edilýär.</p>
        <p>
            Gerekli maglumatlary
            <a href="https://itit.edu.tm/front/assets/aspirantura.pdf#toolbar=0">şu ýerde</a>
            gorup bilersiniz
        </p>
        <p>Ylymlaryň kandidaty alymlyk derejesine dalaşgärler ýokary bilimli bolmalydyrlar.</p>
        <p>Aspiranturada doly okuw geçenler ylymlaryň kandidaty alymlyk derejesine dalaşgär hökmünde kabul
            edilmeýär.</p>
        <p>Dalaşgärleri kandidatlyk dissertasiýalaryny taýýarlamak üçin berkitmek 3 ýyldan köp bolmadyk möhletde
            amala aşyrylýar.</p>
        <p>Bir wagtyň özinde iki ýa-da birnäçe ýokary okuw mekdebinde ýa-da ylmy edarada dalaşgär bolmaga rugsat
            edilmeýär.</p>
        <p>
            Gerekli maglumatlary
            <a href="https://itit.edu.tm/front/assets/kandidat.pdf">şu ýerde</a>
            görüp bilersiňiz
        </p>
        <p>Ylymlaryň doktory alymlyk derejesine dalaşgäriň ylymlaryň kandidaty alymlyk derejesi bolmaly.</p>
        <p>Ylymlaryň doktory alymlyk derejesine dalaşgär ylmy işini doktorlyk dissertasiýasy görnüşinde taýýarlamak
            üçin 4 ýyl möhlet bilen ýokary okuw mekdebine ýa-da ylmy edara hasaba alynýar.</p>
        <p>
            Gerekli maglumatlary
            <a href="https://itit.edu.tm/front/assets/doktor.pdf">şu ýerde</a>
            görüp bilersiňiz
        </p>
    </div>
    <br />

</main>

{%endblock%}