{%extends "engine/index.html"%}

{%load static%}

{%block content%}
<header>
    <section id="hero">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-7 col-sm-12  text-white">
                    <h1>Bakalawr</h1>


                    <!-- <form
                    action="https://en.wikipedia.org/wiki/Institute_of_Telecommunications_and_Informatics_of_Turkmenistan">
                    <button type="submit" class="btn btn-light px-5 py-2 primary-btn">
                        Wikipedia
                    </button>
                </form> -->
                </div>
            </div>
        </div>
    </section>
</header>
<main>
    <br />
    <br />
    <div class="container">
        <h2 class="text-center">TÜRKMENISTANYŇ TELEKOMMUNIKASIÝALAR WE INFORMATIKA INSTITUTY</h2>
        <h3>2023/2024-nji okuw ýyly üçin aşakdaky hünärler (bakalawr maksatnamasy) boýunça talyplyga kabul edýär:</h3>
        <h4>Bakalawr maksatnamasy:</h4>
        <ol>
            <li> Informatika we hasaplaýyş tehnikasy (taýýarlygyň ugry: awtomatlaşdyrma we amaly informatika (okuwlar
                iňlis dilinde alnyp barlar). Okuwyň dowamlylygy 5 ýyla (1 ýyl — dil taýýarlygy, 4 ýyl — bakalawr
                maksatnamasy boýunça okuw)) deňdir</li>
        </ol>
        <br />
        <p>Institutda okuwlar tölegli esasda alnyp barylýar.</p>
        <p>
            Instituta Türkmenistanyň umumy orta bilimden pes bolmadyk binýatda bilimi bolan, ýaşy 35-den geçmedik
            raýatlary giriş synaglarynyň netijeleri boýunça bäsleşik esasynda kabul edilýär.
        </p>
        <p>Resmi iş kagyzlary welaýat merkezlerinde we Aşgabat şäherinde 2022-nji ýylyň 17-30-njy iýuly aralygynda kabul
            edilýär.</p>
        <h4>Resmi iş kagyzlarynyň sanawy:</h4>
        <ul>
            <li>bellenilen nusgada rektoryň adyna ýazylan arza;</li>
            <li>bellenilen nusgadaky sowalnama (anketa);</li>
            <li>bilimi baradaky resminama (asyl nusgasy);</li>
            <li>Türkmenistanyň Saglygy goraýyş we derman senagaty ministrligi tarapyndan bellenilen nusgadaky saglyk
                kepilnamasy;</li>
            <li>soňky okan ýerinden (işlän ýerinden, harby bölümden) häsiýetnama;</li>
            <li>3x4 sm ölçegdäki sekiz sany fotosurat;</li>
            <li>işleýänler üçin zähmet depderçesiniň tassyklanan göçürmesi;</li>
            <li>okuw dersleri boýunça mekdep okuwçylarynyň döwlet bäsleşiginiň ýeňijileri, halkara bäsleşiklere gatnaşan
                Türkmenistanyň ýygyndy toparynyň agzalary görkezilen ýagdaýlary tassyklaýan degişli resminamanyň asyl
                nusgasyny tabşyrýarlar.</li>
        </ul>
        <h4>Bulardan başga-da, okuwa girmäge isleg bildirýänler ýokarda görkezilen resminamalar bilen birlikde,
            resminamalary kabul edýän iş toparyna aşakdakylary görkezýärler we nusgalaryny tabşyrýarlar:</h4>
        <ul>
            <li>pasportyny;</li>
            <li>harby şahadatnamasyny ýa-da ýazylyş şahadatnamasyny we ýaşaýan ýeri boýunça harbywekillikden güwä hatyny
                (asyl nusgasy).</li>
        </ul>
        <br />
        <p>Dalaşgär bäsleşiksiz we (ýa-da) okuwa kabul edilmek üçin artykmaç hukukdan peýdalanýandygyny tassyklaýan
            beýleki resminamalary görkezip biler.</p>
        <p>Nädogry berlen maglumatlar we galp resmi iş kagyzlary üçin dalaşgär şahsy jogapkärçilik çekýär.</p>
        <h4>Giriş synaglary we okuwa kabul edilmek institutda (Aşgabat şäheri) aşakdaky möhletlerde geçirilýär:
        </h4>
        <ul>
            <li>Ahal welaýaty — awgust aýynyň 2-3-i, 6-sy we 8-i günleri;</li>
            <li>Aşgabat şäheri — awgust aýynyň 4-5-i, 7-si we 9-y günleri;</li>
            <li>Mary welaýaty — awgust aýynyň 10-11-i, 14-i we 16-sy günleri;</li>
            <li>Lebap welaýaty — awgust aýynyň 12-13-i, 15-i we 17-si günleri;</li>
            <li>Daşoguz welaýaty — awgust aýynyň 18-i, 20-si we 22-si günleri;</li>
            <li>Balkan welaýaty — awgust aýynyň 19-y, 21-i we 23-i günleri.</li>
        </ul>
        <br />
        <p>Giriş synaglary taýýarlygyň ähli ugurlary boýunça <b>matematika, fizika, Türkmenistanyň
                taryhy</b>derslerinden geçirilýär.</p>
        <p>
            Dersler boýunça giriş synaglary Türkmenistanyň orta mekdepleriniň okuw maksatnamalarynyň esasynda, döwlet
            dilinde dilden geçirilýär.
        </p>
        <p>Taýýarlygyň “Awtomatlaşdyrma we amaly informatika” (okuwlar iňlis dilinde alnyp barlar) ugry boýunça giriş
            synaglaryny üstünlikli tabşyran dalaşgärler iňlis dili boýunça söhbetdeşlik geçýärler</p>
        <p>Giriş synaglarynyň tertibinde bellenilen wagtda synaglara esassyz sebäplere görä gelip bilmedikler ýa-da okuw
            dersleriniň biri boýunça synaglardan geçip bilmedikler soňky synaglara goýberilmeýär.</p>
        <p>
            Giriş synaglaryndan üstünlikli geçen ýagdaýynda, bäsleşiksiz we talyplyga kabul edilmek üçin artykmaç
            hukukdan “Bilim hakynda” Türkmenistanyň Kanunynyň rejelenen görnüşinde kesgitlenen düzgünlere laýyk gelýän
            dalaşgärler peýdalanýarlar
        </p>
        <h3 class="text-center text-secondary">Türkmenistanyň Telekommunikasiýalar we informatika institutynyň salgysy:
            Aşgabat ş., Oguz han köçesi, 13, tel.: 49-35-86, 49-44-21.</h3>
    </div>
    <br />

</main>

{%endblock%}