{%extends "engine/index.html"%}

{%load static%}

{%block content%}
<header>
    <section id="hero">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-7 col-sm-12  text-white">
                    <h1>Habarlasmak</h1>


                    <!-- <form
                    action="https://en.wikipedia.org/wiki/Institute_of_Telecommunications_and_Informatics_of_Turkmenistan">
                    <button type="submit" class="btn btn-light px-5 py-2 primary-btn">
                        Wikipedia
                    </button>
                </form> -->
                </div>
            </div>
        </div>
    </section>
</header>
<main>
    <div class="text-center">
        <h1>Habarlasmak</h1>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="form-group">

            </div>
        </div>

    </div>


</main>

{%endblock%}