{%load static%}
<footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h3 class="text-light">TTweII</h3>
          <h4 class="text-muted">Turkmenistanyn Telekommunikasiyalar we Informatika Instituty</h4>
        </div>
        <div class="col-md-5 col-sm-12">
          <h4 class="text-light">Peydaly Sahypalar</h4>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Habarlasmak</h4>
          <div class="column text-light">
            <i class="fas fa-map-marker-alt" style="font-size: 28px;color:red"></i> Salgymyz
            <p>Magtymguly shayoly 68,Asgabat,Turkmenistan</p>
            <i class="fas fa-envelope" style="font-size:28px;color:red"></i> E-mail
            <p>ttii.rektorlyk@online.tm</p>
            <i class="fas fa-phone" style="font-size: 28px;color:red"></i> Telefon
            <p>+993 12 942179</p>
          </div>
        </div>
      </div>
    </div>
  </footer>